html,
body {
  height: 100%;
}

body {
  line-height: 1.4;
  @extend %rubik-400;
  color: $default;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  margin-bottom: 120px;
}