$accent: #ff6838;
$default: #31352b;
$title: #363853;

$accent-focus: rgba(255, 104, 56, 0.1);

%outline {
  outline: 2px solid rgba(255, 104, 56, 0.7);
} 


%rubik-300 {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}