@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';

.header {
  padding: 60px 0;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between
  }
}

.logo {
  transition: all .3s;
  &:focus {
    @extend %outline;
    border-radius: 5px;
  }

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: .5;
  }
}

.menu {
  display: flex;
  align-items: center;
  line-height: 1.3;

  &__item {
    margin-right: 38px;
  }

  &__link {
    text-decoration: none;
    transition: color .3s;

    &--active {
      color: $accent;
    }

    &:focus {
      @extend %outline;
      border-radius: 5px;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
      color: $default;
      outline: 0;
    }
  }

}

.user-nav__btn {
  width: 44px;
  height: 44px;
  font-size: 10px;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;

  &:not(:last-child) {
    margin-right: 11px;
  }

  &:focus {
    background-color: $accent-focus;
    @extend %outline;
  }

  &:hover {
    background-color: $accent;
  }

  &:hover.user-nav--search::before,
  &:hover .user-nav__num,
  &:hover.user-nav--cart::before {
    background-color: #fff;
  }

  &:hover .user-nav__num {
    color: $accent;
  }

  &:active {
    background-color: #FFF2ED
  }

  &:active.user-nav--search::before,
  &:active.user-nav--cart::before {
    background-color: $default;
  }

  &:active .user-nav__num {
    background-color: $accent;
    color: #fff;
  }
}

.user-nav--search::before,
.user-nav--cart::before {
  content: '';
  min-width: 19px;
  height: 19px;
  background-color: $title;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.user-nav--search::before {
  mask-image: url(../images/sprite.svg#icon-search);
}

.user-nav--cart {
  position: relative;

  &::before {
    mask-image: url(../images/sprite.svg#icon-cart);
  }
}

.user-nav__num {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $accent;
  color: #fff;
  position: absolute;
  line-height: 14px;
  top: 8px;
  right: 3px;
}

.footer {
  &-logo {
    margin-bottom: 24px;
  }

  &__top {
    display: flex;
    gap: 69px;
    padding-bottom: 60px;
  }

  &-form {
    max-width: 200px;

    &__label {
      display: block;
    }

    &__input {
      width: 200px;
      padding: 7px 15px;
      outline: 1px solid #C2C2C2;
      border-radius: 5px;
      display: block;
      margin-bottom: 12px;

      &:focus {
        @extend %outline;
      }

      &::placeholder {
        font-size: 14px;
        color: #C2C2C2;
        transition: color .3s;
      }

      &:hover::placeholder {
        color: $default;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 12px 37px;
      @extend %rubik-500;
      font-size: 14px;
      transition: all .3s;

      &::before {
        content: '';
        min-width: 15px;
        height: 15px;
        mask-image: url(../images/sprite.svg#icon-telegram);
        mask-size: contain;
        mask-position: center;
        background-color: #fff;
        transition: background-color .3s;
      }

      &:focus {
        color: $accent;
        background-color: $accent-focus;
        @extend %outline;
      }

      &:hover {
        background-color: transparent;
        @extend %outline;
        color: $accent;
        box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.2);
      }

      &:active {
        background-color: $accent-focus;
        outline: 0;
        color: $accent;
      }

      &:focus.footer-form__btn::before,
      &:hover.footer-form__btn::before,
      &:active.footer-form__btn::before {
        background-color: $accent;
      }
    }
  }

  &-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 77px;
    font-size: 18px;
    line-height: 1.3;
    margin-right: 59px;

    &__item:not(:last-child) {
      margin-bottom: 14px;
    }

    &__link {
      text-decoration: none;
    }

    &__location,
    &__phone,
    &__mail {
      padding-left: 30px;
      position: relative;
      margin-bottom: 22px;

      &::before {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        left: 0;
        top: 0;
        mask-repeat: no-repeat;
        background-color: $title;
      }
    }

    &__phone {
      margin-bottom: 23px;
    }

    &__location::before {
      mask-image: url(../images/sprite.svg#icon-location);
      width: 19px;
      height: 20px;

    }

    &__phone::before {
      mask-image: url(../images/sprite.svg#icon-call);
    }

    &__mail::before {
      mask-image: url(../images/sprite.svg#icon-message);
    }

    &__phone-link,
    &__mail-link {
      text-decoration: none;
    }
  }

  &-menu__social {
    display: flex;
    gap: 13px;
  }

  &-social__link {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: #ECECEC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s, outline .3s, border-radius .3s ;

    &--facebook::after,
    &--twitter::after,
    &--instagram::after {
      content: '';
      mask-size: cover;
      mask-position: center;
      background-color: $title;
    }

    &--facebook::after {
      mask-image: url(../images/sprite.svg#icon-facebook);
      width: 9px;
      height: 20px;
    }

    &--twitter::after {
      mask-image: url(../images/sprite.svg#icon-twitter);
      width: 20px;
      height: 16px;
    }

    &--instagram::after {
      mask-image: url(../images/sprite.svg#icon-instagram);
      width: 19px;
      height: 19px;
    }

    &:focus {
      background-color: $accent-focus;
      @extend %outline;
      border-radius: 50%;
    }

    &:hover {
      background-color: $accent;
    }

    &:hover.footer-social__link--facebook::after,
    &:hover.footer-social__link--twitter::after,
    &:hover.footer-social__link--instagram::after {
      background-color: #fff;
    }

    &:active {
      background-color: $accent-focus;
    }

    &:active.footer-social__link--facebook::after,
    &:active.footer-social__link--twitter::after,
    &:active.footer-social__link--instagram::after {
      background-color: $accent;
    }
  }

  &-menu__data {
    font-style: normal;
    font-size: 16px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 31px 0;
    background-color: $title;
    color: #fff;
    font-size: 14px;
    line-height: 1;
  }
}

.hero {
  &__inner {
    min-height: 660px;
    background-size: 560px;
    background-position: right center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 476px;
  }

  &__title {
    font-size: calc(40px + (66 - 40) * ((100vw - 375px) / (1905 - 375)));
    @extend %rubik-500;
    line-height: 1.3;
    margin-bottom: 20px;

    &-span {
      color: $accent;
    }
  }

  &__text {
    max-width: 450px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__btn {
    background-color: $accent;
    color: #fff;
    padding: 9px 28px;
    margin-right: 22px;
    border-radius: 5px;
    transition: all .3s;

    &:focus {
      color: $accent;
      background-color: rgba(255, 104, 56, 0.1);
      outline: 2px solid rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background-color: transparent;
      outline: 2px solid rgba(255, 104, 56, 0.7);
      color: $accent;
      box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.2);
    }

    &:active {
      background-color: rgba(255, 104, 56, 0.1);
      outline: 0;
      color: $accent;
    }
  }

  &__more {
    transition: all .3s;

    &:focus {
      outline: 2px solid rgba(255, 104, 56, 0.7);
      border-radius: 5px;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
      color: $default;
      outline: 0;
    }
  }
}

.category {
  &-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 45px;
  }

  &__btn {
    background-color: #fff;
    color: $default;
    outline: 1px solid #ECECEC;
    padding: 22px 33px 22px 86px;
    border-radius: 5px;
    position: relative;
    transition: all .3s;

    &--burgers::before,
    &--pizza::before,
    &--sandvich::before,
    &--asia::before,
    &--dish::before {
      content: '';
      width: 44px;
      height: 44px;
      position: absolute;
      left: 32px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $default;
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      transition: background-color .3s;
    }

    &--burgers::before {
      mask-image: url(../images/sprite.svg#icon-category-burger);
    }

    &--pizza::before {
      mask-image: url(../images/sprite.svg#icon-category-pizza);
    }

    &--sandvich::before {
      mask-image: url(../images/sprite.svg#icon-category-sandvich);
    }

    &--asia::before {
      mask-image: url(../images/sprite.svg#icon-category-asia);
    }

    &--dish::before {
      mask-image: url(../images/sprite.svg#icon-category-dish);
    }

    &:focus {
      outline: 1px solid rgba(255, 104, 56, 0.7);
    }

    &:hover {
      outline: 1px solid rgba(255, 104, 56, 0.7);
      background-color: rgba(255, 104, 56, 0.1);
      color: $accent;
    }

    &:hover.category__btn--burgers::before,
    &:hover.category__btn--pizza::before,
    &:hover.category__btn--sandvich::before,
    &:hover.category__btn--asia::before,
    &:hover.category__btn--dish::before {
      background-color: $accent;
    }

    &:active {
      box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
      background-color: transparent;
      outline: 0;
      color: $default;
    }

    &:active.category__btn--burgers::before,
    &:active.category__btn--pizza::before,
    &:active.category__btn--sandvich::before,
    &:active.category__btn--asia::before,
    &:active.category__btn--dish::before {
      background-color: $default;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    position: relative;
    padding-bottom: 90px;
  }

  &-item {
    background-color: #fff;
    outline: 1px solid #ECECEC;
    padding: 20px 19px;

    &:hover {
      @extend %outline;
    }
  }

  &-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    line-height: 1.2;

    &__img {
      margin-bottom: 10px;
    }

    &__name {
      margin-bottom: 28px;
    }

    &__name--bug {
      margin-bottom: 12px;
    }

    &__price {
      @extend %rubik-500;
      display: block;
      margin-bottom: 10px;
      line-height: 1.4;
      color: $title;
    }

    &__btn {
      padding: 7px 12px;
    }
  }

  &__more {
    line-height: 1.5;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: outline .3s, color .3s, text-shadow .3s;

    &:focus {
      @extend %outline;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: $title;
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
    }
  }
}

.mixitup-control-active {
  background-color: $accent;
  color: #fff;

  &.category__btn--burgers::before,
  &.category__btn--pizza::before,
  &.category__btn--sandvich::before,
  &.category__btn--asia::before,
  &.category__btn--dish::before {
    background-color: #fff;
  }
}








@import 'media';