.filter {
  &__item {
    padding: 15px 15px 25px;
    border: 1px solid $silver-200;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 270px;
  }

  &__item-head {
    margin-bottom: 25px;
    border-bottom: 1px solid $silver-200;
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 15px;
  }

  &__btn-open {
    background-color: rgba($accent, .1);
    min-width: 47px;
    height: 47px;
    display: none;

    &::before {
      min-width: 32px;
      height: 36px;
      background-color: $accent;
    }

    @include r($tablet-2) {
      display: flex;
    }
  }

  &__btn-close {
    background-color: rgba($accent, .1);
    right: 0;
    margin: 0 20px 20px auto;
  }

  @include r($tablet-2) {
    display: none;
  }

  &__mobile {
    overflow-y: auto;
    display: none;
    position: fixed;
    padding-top: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 320px;
    background-color: #fff;
    opacity: 0;
    transform: translateY(-200%);
    transition: opacity .3s, transform .3s;

    @include r($tablet-2) {
      display: block;
    }
  }

  &.open {
    opacity: 1;
    transform: translateY(0);
  }
}

.filter-category {
  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }

  }

  &__btn {
    outline: 2px solid transparent;
    border-radius: 3px;
    transition: outline-color .3s, color .3s, text-shadow .3s;

    &:focus {
      outline-color: $accent;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
      outline-color: transparent;
      color: $default;
    }

    &.active {
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
      outline-color: transparent;
      color: $default;
    }
  }
}

.filter-offers {
  &__label {
    display: flex;
    gap: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: color .3s;

    &:hover {
      color: $accent;

      .filter-offers__checkbox {
        border-color: $accent;
      }
    }

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.filter-offers__checkbox--item {
      background-image: url(../../images/sprite.svg#icon-check);
      border: 1px solid $title;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px;
    }
  }

  &__checkbox {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: border-color .3s;

    &:focus {
      border-color: 1px solid $accent;
    }

    &:hover {
      border-color: 1px solid $accent;
    }

    &:active {}
  }

  &__checkbox--item {
    background-color: rgba($accent, .1);
  }
}

.range {

  &__group {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $gray;
    gap: 5px;

    &::after {
      content: '₴';
    }
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
  }

  &__input {
    color: $title;
    border-radius: 3px;
    background-color: rgba($accent, .1);
    text-align: center;
    padding: 12px;
    border: 1px solid $silver-200;
    width: 70px;
  }

  .noUi-target {
    background-color: $gray;
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }

  .noUi-horizontal {
    width: 240px;
    height: 2px;

    .noUi-handle {
      width: 18px;
      height: 18px;
      top: -8px;
    }
  }

  .noUi-connects {
    border-radius: 0;
  }

  .noUi-connect {
    background-color: $accent;
  }

  .noUi-handle {
    border-radius: 50%;
    background-color: $accent;
    border: none;
    box-shadow: none;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }
}

.select-style {
  border: 1px solid #c2c2c2;
  padding: 15px;
  padding-right: 41px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  border-radius: 3px;
  transition: border-color .3s, color .3s;

  background-image: url(../../images/sprite.svg#icon-chevron-down);
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: 10px;

  &:focus {
    border-color: $accent;
  }

  &:hover {
    border-color: $accent;
    color: $accent;
    cursor: pointer;
  }
}