.filter {
  &__item {
    padding: 15px 15px 25px;
    border: 1px solid $silver-200;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 270px;
  }

  &__item-head {
    margin-bottom: 25px;
    border-bottom: 1px solid $silver-200;
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 15px;
  }

  &__btn-open {
    background-color: rgba($accent, .1);
    display: none;

    &::before {
      background-color: $accent;
    }

    @include r($tablet-2) {
      display: flex;
    }
  }

  &__btn-close {
    background-color: rgba($accent, .1);
    right: 0; 
    margin: 0 20px 20px auto;
  }

  @include r($tablet-2) {
    display: none;
  }

  &__mobile {
    overflow-y: auto;
    display: none;
    position: fixed;
    padding-top: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 320px;
    background-color: #fff;
    opacity: 0;
    transform: translateY(-200%);
    transition: opacity .3s, transform .3s;
    @include r($tablet-2) {
      display: block;
    }
  }
  &.open {
    opacity: 1;
    transform: translateY(0);
  }
}

.filter-category {
  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }

  }

  &__btn {
    outline: 2px solid transparent;
    border-radius: 3px;
    transition: outline-color .3s, color .3s, text-shadow .3s;

    &:focus {
      outline-color: $accent;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
      outline-color: transparent;
      color: $default;
    }

    &.active {
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
      outline-color: transparent;
      color: $default;
    }
  }
}

.filter-offers {
  &__label {
    display: flex;
    gap: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: color .3s;

    &:hover {
      color: $accent;

      .filter-offers__checkbox {
        border-color: $accent;
      }
    }

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.filter-offers__checkbox--item {
      background-image: url(../../images/sprite.svg#icon-check);
      border: 1px solid $title;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px;
    }
  }

  &__checkbox {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: border-color .3s;

    &:focus {
      border-color: 1px solid $accent;
    }

    &:hover {
      border-color: 1px solid $accent;
    }

    &:active {}
  }

  &__checkbox--item {
    background-color: rgba($accent, .1);
  }
}

.filter-price {
  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    gap: 15px;
    color: #c2c2c2;

    span {
      background-color: rgba($accent, .1);
      padding: 12px 16px;
      border-radius: 3px;
      color: $default;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__to,
  &__from {
    outline: 1px solid transparent;

    &:focus {
      outline-color: $accent;
    }
  }
}

.irs {
  order: 2;
}

.irs--flat .irs-line {
  top: 33px;
  height: 1px;
  background-color: #c2c2c2;
  border-radius: 0;
}

.irs--flat .irs-handle {
  top: 25px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #FF6838;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 33px;
  height: 2px;
  background-color: #FF6838;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  color: white;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #ed5565;
  border-radius: 4px;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.jq-selectbox__select-text {
  padding-right: 15px;
}

.jq-selectbox.dropdown.opened {
  .jq-selectbox__dropdown {
    display: none;
  }
}

.select-style {
  border: 1px solid #c2c2c2;
  padding: 15px;
  border-radius: 3px;
  transition: border-color .3s, color .3s;

  &::before {
    min-width: 10px;
    height: 10px;

  }

  &:focus {
    border-color: $accent;
  }

  &:hover {
    border-color: $accent;
    color: $accent;
    cursor: pointer;

    &::before {
      background-color: $accent;
    }
  }

  &:active {}
}