.catalog {
  padding-top: size(60, 40);

  &__title {
    text-align: left;
    margin-bottom: 20px;
  }

  &__title-download {
    margin-bottom: 14px;
  }

  &__inner {
    display: flex;
    gap: 30px;
  }
}

.catalog-top {
  display: flex;
  justify-content: space-between;

  &__filter {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: right;
    margin-bottom: 30px;

    @include r($phone) {
      justify-content: start;
    }
  }

  &__filter-group {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  @include r($tablet-2) {
    display: block;
  }
}




.catalog-list {
  width: 100%;
  margin: 0 auto;

  &__grid {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: size(60, 30);

    @include r($tablet-2) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include r($phone) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}