.features {
  &__inner {
    min-height: 585px;
    padding: 0 size(70, 0);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left size(70, 0) center;
  }

  &__content {
    max-width: 470px;
    background-color: rgba(255, 255, 255, .85);
    align-self: flex-end;
  }

  &__title {
    margin-bottom: 30px;
    text-align: left;
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    font-size: 24px;
    line-height: 1.5;
    color: $title;
    gap: 30px;
    justify-content: flex-start;

    &::before {
      min-width: 34px;
      height: 34px;
    }

    &.icon--delivery {
      &::before {
        background-color: $accent;
      }
    }

    &.icon--courier {
      &::before {
        background-color: #00AAFF;
      }
    }

    &.icon--build {
      &::before {
        background-color: #FF2222;
      }
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

  }
}