.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  padding: 60px 0;
  border-bottom: 3px solid transparent;
  transition: padding .3s, border-color .3s;

  &.sticky {
    padding: 15px 0;
    border-color: $accent;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__btn {
    &:hover {
      .btn-counter {
        color: $accent;
        background-color: #fff;
      }
    }

    &:active {
      .btn-counter {
        color: #fff;
        background-color: $accent;
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 44px;
  margin-left: auto;

  &__link {
    outline: 2px solid transparent;
    font-size: 18px;
    letter-spacing: 0.01em;
    text-decoration: none;
    border-radius: 5px;
    transition: outline-color .3s, color .3s, text-shadow .3s;

    &:focus {
      outline-color: rgba($accent, .7);
    }

    &:hover {
      color: $accent;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba($default, .5);
      outline-color: transparent;
    }

    &--active {
      color: $accent;
    }
  }
}