.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  padding: size(60, 14) 0;
  border-bottom: 3px solid transparent;
  transition: padding .3s, border-color .3s;

  &.sticky {
    padding: 15px 0;
    border-color: $accent;
  }

  &::before {
    content: '';
    position: fixed;
    inset: 0;
    background-color: rgba($default, .5);
    opacity: 0;
    visibility: hidden;
    z-index: -100;
    transition: opacity .3s;
  }

@at-root .lock {
    overflow: hidden;

    .header {
      &::before {
        @include r($tablet-2) {
          opacity: 1;
          visibility: visible;
          z-index: 10;
        }
      }
    }
  }

  &__logo {
    @include r($phone) {
      width: 115px;
    }
  }

  &__menu {
    @include r($tablet-2) {
      display: none;
    }
  }


  &__contacts {
    display: none;
  }


  &__nav {
    display: flex;
    align-items: center;
    gap: 50px;
    z-index: 5;

    @include r($phone) {
      gap: 17px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;

    @include r($tablet-2) {
      margin-left: auto;
    }
  }

  &__btn {
    &:hover {
      .btn-counter {
        color: $accent;
        background-color: #fff;
      }
    }

    &:active {
      .btn-counter {
        color: #fff;
        background-color: $accent;
      }
    }
  }
}