.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  padding: 60px 0;
  border-bottom: 3px solid transparent;
  transition: padding .3s, border-color .3s;

  @include r($tablet-2) {
    padding: 15px 0;
  }

  &.sticky {
    padding: 15px 0;
    border-color: $accent;
  }

  &__logo {
    @include r($phone) {
      width: 115px;
    }
  }


  &__contacts {
    display: none;
  }


  &__nav {
    display: flex;
    align-items: center;
    gap: 50px;
    z-index: 5;

    @include r($phone) {
      gap: 17px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;

    @include r($tablet-2) {
      margin-left: auto;
    }
  }

  &__btn {
    &:hover {
      .btn-counter {
        color: $accent;
        background-color: #fff;
      }
    }

    &:active {
      .btn-counter {
        color: #fff;
        background-color: $accent;
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 44px;
  margin-left: auto;

  @include r($tablet-2) {
    display: none;
  }

  &__link {
    outline: 2px solid transparent;
    font-size: 18px;
    letter-spacing: 0.01em;
    text-decoration: none;
    border-radius: 5px;
    transition: outline-color .3s, color .3s, text-shadow .3s;


    &:focus {
      outline-color: rgba($accent, .7);
    }

    &:hover {
      color: $accent;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba($default, .5);
      outline-color: transparent;
    }

    &--active {
      color: $accent;
    }
  }
}

.nav-mobile {
  // transform: translateY(-200%);
  transition: transform .3s;
  display: none;

  &__logo {
    display: block;
    margin-bottom: 25px;
  }

  &.--active {
    // transform: translateY(0);
    transition: transform .3s;
    display: block;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    padding-left: 15px;
    background-color: #fff;

    & .burger-close {
      opacity: 1;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #EEEFF3;
    border-bottom: 1px solid #EEEFF3;
    gap: size(25,17);
    padding: 25px 0;
    margin-bottom: 15px;
  }
}