.popular {
  &__nav {
    margin-bottom: 45px;

    @include r($phone) {
      margin-bottom: 15px;
    }
  }

  &__list {
    margin-bottom: 60px;

    @include r($tablet-2) {
      margin-bottom: size(60, 47);
    }
  }

  &__btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
}