.restaurants-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 419px;
  border-radius: 10px;

  &__inner {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 20px 20px;
    background-color: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
  }

  &__name {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__info-time {
    padding-left: 32px;
    font-size: 18px;
    font-weight: 300;
    position: relative;

    &::before {
      content: '';
      mask-image: url(../../images/sprite.svg#icon-time);
      mask-position: center;
      mask-size: cover;
      mask-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $title;
      width: 22px;
      height: 22px;
    }
  }

  &__info-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 33px;
    border-radius: 20px;
    outline: 2px solid transparent;
    transition: outline-color .4s, outline-width .4s, background-color .4s;

    &::before {
      min-width: 14px;
      height: 12px;
      background-color: #fff;
      transition: transform .4s ease-in-out, background-color .4s;
    }

    &:focus {
      outline-color: rgba($accent, .7);
      outline-width: 2px;
      background-color: rgba($accent, .1);
      &::before {
        background-color: $accent;
      }
    }

    &:hover {
      outline-color: $accent;
      box-shadow: none;
      &::before {
        transform: translateX(90%);
        background-color: $accent;
      }
    }

    &:active {
      background-color: rgba($accent, .1);
      outline-color: transparent;
      &::before {
        background-color: $accent;
      }
    }
  }
}