.restaurants {
  &__list {
    box-sizing: border-box !important;
    padding-bottom: 3px;

    @include r($tablet-2) {
      grid-template-columns: repeat(2, minmax(auto, 370px));
      gap: 10px;
      justify-content: center;
    }

    @include r($phone) {
      display: flex;
      justify-content: initial;
      gap: initial;
      margin-bottom: 30px;
    }

    .content-card {
      @include r($phone) {
        margin: 0 auto;
      }
    }
  }

  &__slider {
    overflow: visible;
    @include r($phone) {
      overflow: hidden;
    }
  }

  &__dots {
    @extend .reviews__dots;
    justify-content: center;
    padding: 2px;
  }

  &__dot {
    @extend .reviews__dot;

    &--active {
      @extend .reviews__dot--active;
    }
  }
}

.resto {
  @include r($phone) {


    &__actions {
      width: fit-content;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 23px;
    }

    &__dots {
      display: flex;
      gap: 15px;
      padding-bottom: 2px;
      justify-content: center;
    }

    &__dot {
      min-width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $gray;
      cursor: pointer;
      outline: 2px solid transparent;
      transition: background-color .3s, outline-color .3s;

      &--active {
        background-color: $accent;
        border-radius: 50%;
      }

      &:focus {
        outline-color: $accent;
      }

      &:hover {
        background-color: rgba($accent, .1);
        outline-color: rgba($accent, .5);
      }

      &:active {
        outline-color: transparent;
        background-color: rgba($accent, .5);
      }
    }
  }
}
