.reviews-slider {
  &__item {
    position: relative;
  }

  .slick-dots {
    display: flex;
    position: absolute;
    gap: 15px;
    left: 50%;
    bottom: -60px;
    transform: translate(-50%, -50%);

    li {
      font-size: 0;
      width: 15px;
      height: 15px;
      background-color: $gray;
      border-radius: 50%;
      cursor: pointer;
      outline: 2px solid transparent;
      transition: outline-color .3s, background-color .3s;

      &:focus {
        outline-color: rgba($accent, .7);
      }

      &:hover {
        background-color: rgba($accent, .1);
        outline-color: rgba($accent, .5);
      }

      &:active {
        background-color: rgba($accent, .5);
        outline-color: transparent;
      }
    }

    .slick-active {
      background-color: $accent;
    }
  }

  .slick-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 3px solid $gray;
    outline: 2px solid transparent;
    font-size: 0;
    position: absolute;
    bottom: -60px;
    transform: translateX(-50%);
  }

  .slick-prev,
  .slick-next {
    transition: outline-color .3s, background-color .3s, border-color .3s;

    &::before {
      content: '';
      width: 18px;
      height: 18px;
      background-color: $gray;
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
    }

    &:focus {
      outline-color: rgba($accent, .7);
    }

    &:hover {
      background-color: rgba($accent, .1);
      outline-color: transparent;
      border-color: rgba($accent, .5);

      &::before {
        background-color: rgba($accent, .5);
      }
    }

    &:active {
      border-color: transparent;
      outline-color: transparent;
      &::before {
        background-color: $accent;
      }
    }
  }

  .slick-prev {
    left: 40%;
    transform: translateX(25%);

    &::before {
      mask-image: url(../../images/sprite.svg#icon-left);
    }
  }

  .slick-next {
    right: 40%;
    transform: translateX(-25%);

    &::before {
      mask-image: url(../../images/sprite.svg#icon-right);
    }
  }
}