.reviews {

  position: relative;

  &__list {
    margin-bottom: 30px;
  }

  &__actions {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
  }

  &__btn {
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid transparent;
    border: 3px solid $accent;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s, outline-color .3s, border-color .3s;

    @include r($phone) {
      position: absolute;
      top: 7%;
    }

    &::before {
      content: '';
      min-width: 19px;
      height: 19px;
      display: inline-block;
      mask-image: url('../images/sprite.svg#icon-right');
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      background-color: $accent;
      transition: background-color .3s;
    }

    &--prev {
      &::before {
        mask-image: url('../images/sprite.svg#icon-left');
      }

      left: 38px;
    }

    &--next {
      right: 38px;
    }

    &:focus {
      outline-color: rgba($accent, .5);
    }

    &:hover {
      background-color: rgba($accent, .1);
      border-color: rgba($accent, .5);
      outline-color: transparent;

      &::before {
        background-color: rgba($accent, .5);
      }
    }

    &:active {
      background-color: rgba($accent, .1);
      border-color: rgba($accent, .5);
      outline-color: transparent;

      &::before {
        background-color: $accent;
      }
    }

    &[disabled] {
      border-color: $gray;

      &:focus,
      &:hover,
      &:active {
        border-color: $gray;
        outline-color: transparent;
        background-color: inherit;
      }

      &::before {
        background-color: $gray;
      }
    }
  }

  &__dots {
    display: flex;
    gap: 15px;

    @include r($phone) {
      display: none;
    }
  }

  &__dot {
    min-width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $gray;
    cursor: pointer;
    outline: 2px solid transparent;
    transition: background-color .3s, outline-color .3s;

    @include r($phone) {
      display: none;
    }

    &--active {
      background-color: $accent;
    }

    &:focus {
      outline-color: $accent;
    }

    &:hover {
      background-color: rgba($accent, .1);
      outline-color: rgba($accent, .5);
    }

    &:active {
      outline-color: transparent;
      background-color: rgba($accent, .5);
    }
  }

}