<section class="download mb-120" style="background-image: url(images/download_bg.jpg);">
  <div class="container">
    <div class="download__content">
      <h2 class="title download__title">
        Завантажте мобільний застосунок
      </h2>
      <div class="download__info">
        <p>
          Ресторани, які ви любите - у ваших руках.
        </p>
        <p>
          Встановлюйте застосунок та замовляйте їжу в зручному місці в
          зручний час
        </p>
      </div>
      <ul class="download__list">
        <li class="download__item">
          <a class="app-icon app-icon--apple" href="#" target="_blank">
            <span class="sr-only">Завантажити додаток з AppStore</span>
          </a>
        </li>
        <li class="download__item">
          <a class="app-icon app-icon--google" href="#" target="_blank">
            <span class="sr-only">Завантажити додаток з GooglePlay</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>