<section class="features mb-120">
  <div class="container">
    <div class="features__inner" style="background-image: url(images/food_delivery.png);">
      <div class="features__content">
        <h2 class="title features__title">Залишайтеся вдома, а ми
          потурбуємося про їжу</h2>
        <div class="features__text">
          <p>
            У нас є смачна їжа і ми готові доставити її до вас додому! Скористайтеся нашою доставкою прямо зараз
            та
            отримайте
            знижку!
          </p>
        </div>
        <ul class="features__list">
          <li class="features__item icon icon--delivery">
            Швидка доставка за 15 хвилин
          </li>
          <li class="features__item icon icon--courier">
            Чемні кур’єри
          </li>
          <li class="features__item icon icon--build">
            Більше 500 закладів
          </li>
        </ul>
        <a class="btn features__btn" href="#">Детальніше</a>
      </div>
    </div>
  </div>
</section>