<section class="hero mb-120" style="background-image: url(images/scooter_guy.png)">
  <h2 class="sr-only">Особливості доставки сервісу SimpleFood</h2>
  <div class="container">
    <div class="hero__content">
      <div class="hero__title">
        Доставка <br>
        <span class="text-orange">за 15 хвилин</span>
      </div>
      <div class="hero__description">
        <p>
          Найшвидший сервіс доставки їжі у вашому місті. Якщо запізнемось - то доставка за наш рахунок
        </p>
      </div>
      <div class="hero__actions">
        <a class="btn" href="#">Замовити</a>
        <a class="td-link" href="#">Детальніше</a>
      </div>
    </div>
  </div>
</section>