<section class="popular mb-120">
  <div class="container">
    <h2 class="title">Популярне в категоріях</h2>
    <ul class="categories-nav popular__nav">
      <li class="categories-nav__item">
        <button class="categories-nav__btn icon icon--burger" data-filter="category-1" type="button">Бургери</button>
      </li>
      <li class="categories-nav__item">
        <button class="categories-nav__btn icon icon--pizza" data-filter="category-2" type="button">Піца</button>
      </li>
      <li class="categories-nav__item">
        <button class="categories-nav__btn icon icon--sandvich" data-filter="category-3" type="button">Сендвічі</button>
      </li>
      <li class="categories-nav__item">
        <button class="categories-nav__btn icon icon--asian" data-filter="category-4" type="button">Азійська
          кухня</button>
      </li>
      <li class="categories-nav__item">
        <button class="categories-nav__btn icon icon--sets" data-filter="category-5" type="button">Cети</button>
      </li>
    </ul>
    <ul class="categories-list popular__list">
      <li class="categories-list__item category-1">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">Чізбургер з листям салату</h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/burgers/burger1.jpg" width="140" height="140"
              alt="зображення бургера">
          </a>
          <div class="product-card__price">
            160 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories-list__item category-1">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">Біфбургер</h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/burgers/burger2.jpg" width="140" height="140"
              alt="зображення бургера">
          </a>
          <div class="product-card__price">
            190 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories-list__item category-2">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">Королівський чізбургер</h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/burgers/burger3.jpg" width="140" height="140"
              alt="зображення бургера">
          </a>
          <div class="product-card__price">
            260 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories-list__item category-2">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">Чорний гамбургер</h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/burgers/burger4.jpg" width="140" height="140"
              alt="зображення бургера">
          </a>
          <div class="product-card__price">
            199 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories-list__item category-2">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">Чікен бургер</h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/burgers/burger5.jpg" width="140" height="140"
              alt="зображення бургера">
          </a>
          <div class="product-card__price">
            180 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories-list__item category-3">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">Чізбургер з листям салату</h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/burgers/burger1.jpg" width="140" height="140"
              alt="зображення бургера">
          </a>
          <div class="product-card__price">
            160 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories-list__item category-3">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">Біфбургер</h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/burgers/burger2.jpg" width="140" height="140"
              alt="зображення бургера">
          </a>
          <div class="product-card__price">
            190 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories-list__item category-4">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">Королівський чізбургер</h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/burgers/burger3.jpg" width="140" height="140"
              alt="зображення бургера">
          </a>
          <div class="product-card__price">
            260 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories-list__item category-4">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">Чорний гамбургер</h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/burgers/burger4.jpg" width="140" height="140"
              alt="зображення бургера">
          </a>
          <div class="product-card__price">
            199 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">До кошика</button>
        </article>
      </li>
      <li class="categories-list__item category-5">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">Чікен бургер</h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/burgers/burger5.jpg" width="140" height="140"
              alt="зображення бургера">
          </a>
          <div class="product-card__price">
            180 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">До кошика</button>
        </article>
      </li>
    </ul>
    <button class="td-link popular__btn">Показати ще</button>
  </div>
</section>