<section class="restaurants mb-120">
  <div class="container">
    <h2 class="title">Найкращі ресторани</h2>
    <div class="resto__slider swiper">
      <ul class="restaurants__list cols swiper-wrapper">
        <li class="restaurants__item swiper-slide">
          <article class="content-card">
            <figure class="content-card__head">
              <img class="content-card__image" width="370" height="300" src="images/restaurants/resto_1.jpg"
                alt="Зображення ресторану">
            </figure>
            <div class="content-card__content">
              <h3 class="content-card__title">Blaze Pizza</h3>
              <div class="content-card__actions">
                <div class="content-card__time icon icon--time">
                  <span class="sr-only">Заклад відкрито в такий час:</span>
                  <time datetime="11:00">11:00</time>:<time datetime="23:00">23:00</time>
                </div>
                <a class="content-card__btn btn icon icon--arrow" href="#">
                  <span class="sr-only">Перейти на сторіну ресторану</span>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="restaurants__item swiper-slide">
          <article class="content-card">
            <figure class="content-card__head">
              <img class="content-card__image" width="370" height="300" src="images/restaurants/resto_2.jpg"
                alt="Зображення ресторану">
            </figure>
            <div class="content-card__content">
              <h3 class="content-card__title">Pizza Runcho</h3>
              <div class="content-card__actions">
                <div class="content-card__time icon icon--time">
                  <span class="sr-only">Заклад відкрито в такий час:</span>
                  <time datetime="12:00">12:00</time>:<time datetime="21:00">21:00</time>
                </div>
                <a class="content-card__btn btn icon icon--arrow" href="#">
                  <span class="sr-only">Перейти на сторіну ресторану</span>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="restaurants__item swiper-slide">
          <article class="content-card">
            <figure class="content-card__head">
              <img class="content-card__image" width="370" height="300" src="images/restaurants/resto_3.jpg"
                alt="Зображення ресторану">
            </figure>
            <div class="content-card__content">
              <h3 class="content-card__title">Pizza Hut</h3>
              <div class="content-card__actions">
                <div class="content-card__time icon icon--time">
                  <span class="sr-only">Заклад відкрито в такий час:</span>
                  <time datetime="11:00">11:00</time>:<time datetime="22:00">22:00</time>
                </div>
                <a class="content-card__btn btn icon icon--arrow" href="#">
                  <span class="sr-only">Перейти на сторіну ресторану</span>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="restaurants__item swiper-slide">
          <article class="content-card">
            <figure class="content-card__head">
              <img class="content-card__image" width="370" height="300" src="images/restaurants/resto_4.jpg"
                alt="Зображення ресторану">
            </figure>
            <div class="content-card__content">
              <h3 class="content-card__title">McDonald`s</h3>
              <div class="content-card__actions">
                <div class="content-card__time icon icon--time">
                  <span class="sr-only">Заклад відкрито в такий час:</span>
                  <time datetime="06:00">06:00</time>:<time datetime="23:00">23:00</time>
                </div>
                <a class="content-card__btn btn icon icon--arrow" href="#">
                  <span class="sr-only">Перейти на сторіну ресторану</span>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="restaurants__item swiper-slide">
          <article class="content-card">
            <figure class="content-card__head">
              <img class="content-card__image" width="370" height="300" src="images/restaurants/resto_5.jpg"
                alt="Зображення ресторану">
            </figure>
            <div class="content-card__content">
              <h3 class="content-card__title">KFC</h3>
              <div class="content-card__actions">
                <div class="content-card__time icon icon--time">
                  <span class="sr-only">Заклад відкрито в такий час:</span>
                  <time datetime="06:00">06:00</time>:<time datetime="23:30">23:30</time>
                </div>
                <a class="content-card__btn btn icon icon--arrow" href="#">
                  <span class="sr-only">Перейти на сторіну ресторану</span>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="restaurants__item swiper-slide">
          <article class="content-card">
            <figure class="content-card__head">
              <img class="content-card__image" width="370" height="300" src="images/restaurants/resto_6.jpg"
                alt="Зображення ресторану">
            </figure>
            <div class="content-card__content">
              <h3 class="content-card__title">Star Burgers</h3>
              <div class="content-card__actions">
                <div class="content-card__time icon icon--time">
                  <span class="sr-only">Заклад відкрито в такий час:</span>
                  <time datetime="09:00">09:00</time>:<time datetime="21:00">21:00</time>
                </div>
                <a class="content-card__btn btn icon icon--arrow" href="#">
                  <span class="sr-only">Перейти на сторіну ресторану</span>
                </a>
              </div>
            </div>
          </article>
        </li>
      </ul>
      <div class="resto__dots"></div>
    </div>
  </div>
</section>